<%= form_for [@patient, @referral] do |f| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referral.errors.count, "error") %> prohibited this referral from being saved:</h2>

      <ul>
      <% @referral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :formtype, 'Select a Referral Type' %><br>
        <%= f.select :formtype, [["Select One", ""], ["Medical", 1], ["Domestic Violence", 2]], {}, { class: 'form-control referral-type col-md-2' } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :vistDate, "Visit Date" %><br>
    <%= f.date_select :vistDate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :startTime, "Start Time" %><br>
    <%= f.time_select :startTime, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :endTime, "End Time" %><br>
    <%= f.time_select :endTime, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :visitType, "Visit Type" %><br>
    <%= f.text_field :visitType, class: 'form-control' %>
  </div>
  
  
  <div class="form-group">
    <%= f.label :referralDate, "Referral Date" %><br>
    <%= f.date_select :referralDate, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :referringProvider, "Referring Provider" %><br>
    <%= f.text_field :referringProvider, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :referringOrgAgency, "Referring Agency" %><br>
    <%= f.text_field :referringOrgAgency, class: 'form-control' %>
  </div>

   <div class="form-group">
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :referringCHW, "Referring CHW" %><br>
        <%= f.collection_select :referringCHW, @chws, :id, :name, { prompt: 'Select one' }, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :primaryDiag, "Primary Diagnosis" %><br>
    <%= f.text_area :primaryDiag, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :goals %><br>
    <%= f.text_area :goals, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :reasonForCHWReferral, "Reason for CHW Referral" %><br>
    <%= f.text_area :reasonForCHWReferral, class: 'form-control' %>
  </div>
  <div class="form-group medical">
    <%= f.label :takingMeds, "Taking Meds?" %><br>
    <%= f.check_box :takingMeds, class: 'form-control'%>
  </div>
  <div class="form-group medical">
    <%= f.label :takingMedsValue, "Which Meds?" %><br>
    <%= f.text_field :takingMedsValue, class: 'form-control' %>
  </div>
  <div class="form-group medical">
    <%= f.label :otherMedicalConcerns, "Other Medical Concerns" %><br>
    <%= f.check_box :otherMedicalConcerns, class: 'form-control' %>
  </div>
  <div class="form-group medical">
    <%= f.label :ifYes, "If Yes, please list them" %><br>
    <%= f.text_area :ifYes, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :chwAssigned, "CHW Assigned" %><br>
        <%= f.collection_select :chwAssigned, @chws, :id, :name, { prompt: 'Select one' }, { class: 'form-control' } %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :nextVistDate, "Next Visit Date" %><br>
    <%= f.date_select :nextVistDate, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
