<%= form_for(@referral) do |f| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referral.errors.count, "error") %> prohibited this referral from being saved:</h2>

      <ul>
      <% @referral.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  - form_types = [['Medical', 1], ['Domestic Violence', 2]]

  <div class="field"> 
    <%= f.select :formtype, form_types, {}, { class: 'form-control' } %>
  </div>

  <div class="hiddenfield">
    <%= f.hidden_field :formtype, value: "#{params[:formtype]}" %>
  </div>
  <div class="field">
    <%= f.label :vistDate %><br>
    <%= f.date_select :vistDate, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br>
    <%= f.time_select :startTime, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br>
    <%= f.time_select :endTime, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :visitType %><br>
    <%= f.text_field :visitType, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientLastName %><br>
    <%= f.text_field :patientLastName, value: patient.lastname, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientFirstName %><br>
    <%= f.text_field :patientFirstName, value: patient.firstname, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientMiddleName %><br>
    <%= f.text_field :patientMiddleName, value: patient.middlename, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :homePhone %><br>
    <%= f.number_field :homePhone, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :mobilePhone %><br>
    <%= f.number_field :mobilePhone, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :workPhone %><br>
    <%= f.number_field :workPhone, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientSSN %><br>
    <%= f.number_field :patientSSN, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientDOB %><br>
    <%= f.date_select :patientDOB, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientAge %><br>
    <%= f.number_field :patientAge, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientRace %><br>
    <%= f.text_field :patientRace, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :patientEthnicity %><br>
    <%= f.text_field :patientEthnicity, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :sexMale %><br>
    <%= f.check_box :sexMale, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :sexFemale %><br>
    <%= f.check_box :sexFemale, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :referralDate %><br>
    <%= f.date_select :referralDate, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :emergencyContactName %><br>
    <%= f.text_field :emergencyContactName, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :emergencyContactRelationship %><br>
    <%= f.text_field :emergencyContactRelationship, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :emergencyContactPhone %><br>
    <%= f.number_field :emergencyContactPhone, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :referringOrgAgency %><br>
    <%= f.text_field :referringOrgAgency, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :referringCHW %><br>
    <%= f.number_field :referringCHW, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :primaryDiag %><br>
    <%= f.text_area :primaryDiag, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :goals %><br>
    <%= f.text_area :goals, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :reasonForCHWReferral %><br>
    <%= f.text_area :reasonForCHWReferral, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :takingMeds %><br>
    <%= f.check_box :takingMeds, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :takingMedsValue %><br>
    <%= f.text_field :takingMedsValue, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :otherMedicalConcerns %><br>
    <%= f.check_box :otherMedicalConcerns, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :ifYes %><br>
    <%= f.text_area :ifYes, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :chwAssigned %><br>
    <%= f.number_field :chwAssigned, class 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :nextVistDate %><br>
    <%= f.date_select :nextVistDate, class 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
