
<h1>Referral for <small><%= @referral.patient.full_name %></small></h1>

<p id="notice"><%= notice %></p>

<div class="well">
  <h4>Assigned CHW</h4>
  <% if @referral.assigned_chw.present? %>
    <%= @referral.assigned_chw.name %>
  <% end %>
  <% if current_user.admin? || current_user.manager? %>
    <span><a class="js-change-chw-link" href="javascript:nothing()">[change]</a>
    <div id="js-change-chw" class="change-chw">
      <%= form_for [@referral.patient, @referral], html: { class: 'form-inline' } do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-3">
                <%= f.collection_select :chwAssigned, @chws, :id, :name, { prompt: 'Select one' }, { class: 'form-control' } %>
              </div>
            </div>
          </div>
          <%= f.submit 'Assign', class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>

<p>
  <strong>Vistdate:</strong>
  <%= @referral.vistDate %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @referral.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @referral.endTime %>
</p>

<p>
  <strong>Visittype:</strong>
  <%= @referral.visitType %>
</p>

<p>
  <strong>Referraldate:</strong>
  <%= @referral.referralDate %>
</p>

<p>
  <strong>Referringprovider:</strong>
  <%= @referral.referringProvider %>
</p>

<p>
  <strong>Referringorgagency:</strong>
  <%= @referral.referringOrgAgency %>
</p>

<p>
  <strong>Referringchw:</strong>
  <%= @referral.referring_chw.name %>
</p>

<p>
  <strong>Primarydiag:</strong>
  <%= @referral.primaryDiag %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @referral.notes %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @referral.goals %>
</p>

<p>
  <strong>Reasonforchwreferral:</strong>
  <%= @referral.reasonForCHWReferral %>
</p>

<p>
  <strong>Takingmeds:</strong>
  <%= @referral.takingMeds %>
</p>

<p>
  <strong>Takingmedsvalue:</strong>
  <%= @referral.takingMedsValue %>
</p>

<p>
  <strong>Othermedicalconcerns:</strong>
  <%= @referral.otherMedicalConcerns %>
</p>

<p>
  <strong>Ifyes:</strong>
  <%= @referral.ifYes %>
</p>

<p>
  <strong>Nextvistdate:</strong>
  <%= @referral.nextVistDate %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
