
<h1>New Referral</h1>

<%- if referral.formtype == "normal" %>
  <%= render 'referral_normal' %>
<%- elsif referral.formtype == "2" %>
  <%= render 'referral_2' %>
<%- end %>

<%= link_to 'Back', referrals_path %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Vistdate:</strong>
  <%= @referral.vistDate %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @referral.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @referral.endTime %>
</p>

<p>
  <strong>Visittype:</strong>
  <%= @referral.visitType %>
</p>

<p>
  <strong>Patientlastname:</strong>
  <%= @referral.patientLastName %>
</p>

<p>
  <strong>Patientfirstname:</strong>
  <%= @referral.patientFirstName %>
</p>

<p>
  <strong>Patientmiddlename:</strong>
  <%= @referral.patientMiddleName %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @referral.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @referral.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @referral.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @referral.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @referral.zip %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @referral.homePhone %>
</p>

<p>
  <strong>Mobilephone:</strong>
  <%= @referral.mobilePhone %>
</p>

<p>
  <strong>Workphone:</strong>
  <%= @referral.workPhone %>
</p>

<p>
  <strong>Patientssn:</strong>
  <%= @referral.patientSSN %>
</p>

<p>
  <strong>Patientdob:</strong>
  <%= @referral.patientDOB %>
</p>

<p>
  <strong>Patientage:</strong>
  <%= @referral.patientAge %>
</p>

<p>
  <strong>Patientrace:</strong>
  <%= @referral.patientRace %>
</p>

<p>
  <strong>Patientethnicity:</strong>
  <%= @referral.patientEthnicity %>
</p>

<p>
  <strong>Sexmale:</strong>
  <%= @referral.sexMale %>
</p>

<p>
  <strong>Sexfemale:</strong>
  <%= @referral.sexFemale %>
</p>

<p>
  <strong>Referraldate:</strong>
  <%= @referral.referralDate %>
</p>

<p>
  <strong>Emergencycontactname:</strong>
  <%= @referral.emergencyContactName %>
</p>

<p>
  <strong>Emergencycontactrelationship:</strong>
  <%= @referral.emergencyContactRelationship %>
</p>

<p>
  <strong>Emergencycontactphone:</strong>
  <%= @referral.emergencyContactPhone %>
</p>

<p>
  <strong>Referringprovider:</strong>
  <%= @referral.referringProvider %>
</p>

<p>
  <strong>Referringorgagency:</strong>
  <%= @referral.referringOrgAgency %>
</p>

<p>
  <strong>Referringchw:</strong>
  <%= @referral.referringCHW %>
</p>

<p>
  <strong>Primarydiag:</strong>
  <%= @referral.primaryDiag %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @referral.notes %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @referral.goals %>
</p>

<p>
  <strong>Reasonforchwreferral:</strong>
  <%= @referral.reasonForCHWReferral %>
</p>

<p>
  <strong>Takingmeds:</strong>
  <%= @referral.takingMeds %>
</p>

<p>
  <strong>Takingmedsvalue:</strong>
  <%= @referral.takingMedsValue %>
</p>

<p>
  <strong>Othermedicalconcerns:</strong>
  <%= @referral.otherMedicalConcerns %>
</p>

<p>
  <strong>Ifyes:</strong>
  <%= @referral.ifYes %>
</p>

<p>
  <strong>Chwassigned:</strong>
  <%= @referral.chwAssigned %>
</p>

<p>
  <strong>Nextvistdate:</strong>
  <%= @referral.nextVistDate %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
