
<h1>Referral for <small><%= @referral.patient.full_name %></small></h1>

<%= link_to 'Back', referrals_path %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Vistdate:</strong>
  <%= @referral.vistDate %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @referral.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @referral.endTime %>
</p>

<p>
  <strong>Visittype:</strong>
  <%= @referral.visitType %>
</p>

<p>
  <strong>Referraldate:</strong>
  <%= @referral.referralDate %>
</p>

<p>
  <strong>Referringprovider:</strong>
  <%= @referral.referringProvider %>
</p>

<p>
  <strong>Referringorgagency:</strong>
  <%= @referral.referringOrgAgency %>
</p>

<p>
  <strong>Referringchw:</strong>
  <%= @referral.referringCHW %>
</p>

<p>
  <strong>Primarydiag:</strong>
  <%= @referral.primaryDiag %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @referral.notes %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @referral.goals %>
</p>

<p>
  <strong>Reasonforchwreferral:</strong>
  <%= @referral.reasonForCHWReferral %>
</p>

<p>
  <strong>Takingmeds:</strong>
  <%= @referral.takingMeds %>
</p>

<p>
  <strong>Takingmedsvalue:</strong>
  <%= @referral.takingMedsValue %>
</p>

<p>
  <strong>Othermedicalconcerns:</strong>
  <%= @referral.otherMedicalConcerns %>
</p>

<p>
  <strong>Ifyes:</strong>
  <%= @referral.ifYes %>
</p>

<p>
  <strong>Chwassigned:</strong>
  <%= @referral.chwAssigned %>
</p>

<p>
  <strong>Nextvistdate:</strong>
  <%= @referral.nextVistDate %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
